/* Navigation Bar styling*/
*{
    box-sizing: border-box;
    margin: 0px;
  }
  /*Navigation Bar styling*/
  nav {
    display: flex;
    flex-wrap: wrap;
    background-color: #333;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    justify-content: center;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  nav .menu-btn {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    text-align: center;
    margin: 0px 15px;
  }
  a:hover{
    color: burlywood ;
    text-decoration: underline;
    } 
  .feedback{
    font-size: 50px;
    margin-left: 12%;
    margin-top: 1%;
    margin-bottom: 1em;
  } 
  .name{
    font-size: 20px;
    margin-left: 13%;
    margin-bottom: 1%;
  }
  .namebox{
    margin-left: 13%;
    width: 30em;
    height: 3em;
  }
  .email{
    font-size: 20px;
    margin-left: 13%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
 .emailBox{
    margin-left: 13%;
    width: 30em;
    height: 3em;
 }
.Yourfeedback{
    font-size: 20px;
    margin-left: 13%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.feedbackBox{
    margin-left: 13%;
    width: 30em;
    height: 15em;
}
.feedbackpage{
    font-size: 20px;
    margin-left: 13%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.feedbackpagebox{
    margin-left: 13%;
    width: 30em;
    height: 3em;
}
.answer{
    font-size: 20px;
    margin-left: 13%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.choiceyes{
    margin-left: 13%;
    
}
.Answerchoiceyes{
    font-size: 20px;
}
.Answerchoiceno{
    margin-left: 13%;
    font-size: 20px;
}
.feedbackbtn{
    margin-left: 13%;
    margin-top: 1%;
    margin-bottom: 3%;
    font-size: 20px;
    background-color: #333;
    color: #e5e4e4;
    padding: 1em;
}

 /*Footer Styling*/    
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }    
.footer-content a {
color: #e5e4e4;
text-decoration: none;
margin: 0 10px;
    }     
footer {
        background-color: #484a4a;
        padding: 50px;
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
        font-weight: bold;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
.footer-content p {
        margin: 10px 0;
        color: #e5e4e4;
}
.footer-content :any-link:hover{
color: burlywood;
text-decoration: underline;
}

@media only screen and (max-width:600px){
    nav {
        display: flex;
        flex-wrap: wrap;
        background-color: #333;
        margin-left: 0;
        margin-right: 0;
        padding: 10px;
        justify-content: center;
        font-weight: bold;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
      nav .menu-btn {
        color: white;
        padding: 15px 20px;
        text-decoration: none;
        text-align: center;
        margin: 0px 15px;
      }
      a:hover{
        color: burlywood ;
        text-decoration: underline;
        } 

        .feedback{
            font-size: 50px;
            margin-left: 1%;
            margin-top: 1%;
            margin-bottom: 1em;
          } 
          .name{
            font-size: 20px;
            margin-left: 1%;
            margin-bottom: 1%;
          }
          .namebox{
            margin-left: 1%;
            width: 25em;
            height: 3em;
          }
          .email{
            font-size: 20px;
            margin-left: 1%;
            margin-top: 1%;
            margin-bottom: 1%;
          }
         .emailBox{
            margin-left: 1%;
            width: 25em;
            height: 3em;
         }
        .Yourfeedback{
            font-size: 20px;
            margin-left: 1%;
            margin-top: 1%;
            margin-bottom: 1%;
        }
        .feedbackBox{
            margin-left: 1%;
            width: 25em;
            height: 15em;
        }
        .feedbackpage{
            font-size: 20px;
            margin-left: 1%;
            margin-top: 1%;
            margin-bottom: 1%;
        }
        .feedbackpagebox{
            margin-left: 1%;
            width: 25em;
            height: 3em;
        }
        .answer{
            font-size: 20px;
            margin-left: 1%;
            margin-top: 1%;
            margin-bottom: 1%;
        }
        .choiceyes{
            margin-left: 1%;
            
        }
        .Answerchoiceyes{
            font-size: 20px;
        }
        .Answerchoiceno{
            margin-left: 1%;
            font-size: 20px;
        }
        .feedbackbtn{
            margin-left: 1%;
            margin-top: 1%;
            margin-bottom: 3%;
            font-size: 20px;
            background-color: #333;
            color: #e5e4e4;
            padding: 1em;
        } 

         .footer-content {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-wrap: wrap;
            }    
      .footer-content a {
          color: #e5e4e4;
          text-decoration: none;
          margin: 0 10px;
              }     
       footer {
                  background-color: #484a4a;
                  padding: 50px;
                  text-align: center;
                  margin-left: 0;
                  margin-right: 0;
                  font-weight: bold;
                  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
       .footer-content p {
                  margin: 10px 0;
                  color: #e5e4e4;
                  
       }
       .footer-content :any-link:hover{
          color: burlywood;
          text-decoration: underline;
       }
   }
